.primary-overlay {
    background: rgba(80, 88, 117, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-header {
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 600px;
    color: #fff;
    position: relative;
}

.main-header .showcase {
    padding-top: 110px;
}

.img-content {
    vertical-align: center;
    margin-top: 25%;

}

nav {
    opacity: 0.9;
}

i {
    vertical-align: middle;
}

.info {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 20px;
}

@media (max-width: 600px) {
    .main-header {
        height: 50vh;
    }
}